@import "@styles/flex";
.verifyResCard {
  @include frsc;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid var(--Border-Tokens-border-primary, #e0e0e0);
  background: var(--Layer-Tokens-layer-primary, #fff);
  padding: 19px 23px;
  width: 322px;
  height: 104px;
  cursor: pointer;
  > img {
    width: 32px;
  }
  .verifyResIntro {
    @include fcss;
    gap: 8px;
    .title {
      color: var(--Text-Tokens-text-primary, #161616);
      font-feature-settings: "liga" off, "clig" off;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 128.571% */
    }
    .descItems {
      @include fcss;
      gap: 6px;
      .descItem {
        @include frsc;
        gap: 6px;
        > img {
          width: 14px;
        }
        color: #6f6f6f;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
      }
    }
  }
}
